@import 'bootstrap';

/* HEADER */

.header-links {
	border-bottom: 1px solid gray;
	min-height: 50px;
	li {
		display: inline-block;
		float: right;
		margin-right: 20px;
	}
}

/* FOOTER */

footer {
	border-top: 1px solid	gray;
}

